@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oleo+Script+Swash+Caps&display=swap');
.App{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F7F7F7;
    font-family: 'Fira Sans', sans-serif
}
main{
    flex-grow: 1;
}
/* navbar */
.app-navbar-logo{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 1.5rem;
    color: var(--primary);
    transition: color ease 0.35s;
    position: sticky;
}
.app-navbar-logo:hover{
    color: var(--accent);
    text-decoration: none;
}
.app-logo{
    font-family: 'Oleo Script Swash Caps', cursive;
}
/* .app-container{
    width: 95%;
    max-width: 1024px;
    margin: auto;
} */
ul li a{
    padding: 0.25rem;
        border-radius: 50%;
}
ul li a:hover{   
    background-color: #d1e3ca;
    color: white;
}
ul li a.active{
    color: #fdba74;
    background-color: #ffedd5;
}